<div class="container">

  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h1>Skills Recommender 0.1 (alpha)</h1>
        <form>
          <div class="row">
            <div class="large-12 columns">
              <angucomplete-alt
                placeholder="start to type your name here..."
                pause="400"
                selected-object="personFn"
                remote-url="api/person?name="
                title-field="name" />
            </div>
          </div>
        </form>
        <div class="row">
          <ul class="recommendations">
            <li ng-repeat="r in recommendation track by r.id">
            <div class="row">
              <div class="small-6 columns">
                {{ r.name }}
              </div>
              <div class="small-9 small-centered columns">
                <ul class="button-group round toggle">
                  <li>
                    <input type="radio" id="good{{r.id}}" ng-model="r.feedback" ng-value="true" ng-change="changedFeedbacks()" />
                    <label class="button" for="good{{r.id}}">Good</label>
                  </li>
                  <li>
                    <input type="radio" id="bad{{r.id}}" ng-model="r.feedback" ng-value="false" ng-change="changedFeedbacks()" />
                    <label class="button" for="bad{{r.id}}">Bad</label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
